@import "reset.css";

:root {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #8e9aaf;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider input {
  display:none;
}

.slider__box {
  width: 90%;
  margin-top: 5vh;
  border-radius: 1rem;
  overflow: hidden;
}

.slider__slides {
  width: 100%;
  display: flex;
  gap:10vw;
  position: relative;
  scroll-behavior: smooth;
  transition: all .5s;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width:100%;
  max-height:80vh;
}

.slide__image {
  width: 90vw;
}

.slide__text {
  transition: all 0.5s;
  font: 1.3rem Arial, Verdana, sans-serif;
}

.slider__nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  text-align: center;
}

.slider__nav label {
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.slider__nav label {
  pointer-events: visible;
  cursor: pointer;
  padding: .6rem;
}

.slider__nav label span {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #134c4c;
  border: .2rem solid #134c4c;
  transition: all 0.3s;
}

.slider__nav label:hover span {
  border-color: red;
}

.slider__nav label:active span {
  background-color: white;
}
/* label styling */
.slider input#nav1:checked~.slider__nav label:nth-child(1) {
  background-color: black;
}

.slider input#nav2:checked~.slider__nav label:nth-child(2) {
  background-color: black;
}

.slider input#nav3:checked~.slider__nav label:nth-child(3) {
  background-color: black;
}

.slider input#nav4:checked~.slider__nav label:nth-child(4) {
  background-color: black;
}

/* slides switching */
.slider input#nav1:checked~*> .slider__slides {
  transform: translateX(0%);
}
.slider input#nav2:checked~*> .slider__slides {
  transform: translateX(-100vw);
}
.slider input#nav3:checked~*> .slider__slides {
  transform: translateX(-200vw);
}
.slider input#nav4:checked~*> .slider__slides {
  transform: translateX(-300vw);
}


