@import "reset.css";

:root {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #8e9aaf;
  margin: 0;
  padding: 0;
}

.slider {
  display: grid;
  grid-template-areas:
    "slider slider"
    "text nav";
  justify-content: center;
  border-radius: 1rem;
  background-color: #00171f;
  margin: 2vh auto;
  width: 60vw;
  padding: 2vw 3vw;
  max-height: 95vh;
  box-shadow: 0 .5rem 1rem #00171f;
}

input[type="radio"] {
  display: none;
}

.slider__box {
  grid-area: slider;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0 0.1rem #032631;
  background: #032631;
}

.slider__slides {
  display: flex;
  gap: 10vw;
  position: relative;
  scroll-behavior: smooth;
  transition: all .5s;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
}

.slide__image {
  display: block;
  width: 60vw;
}

.slider__texts {
  grid-area: text;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s;
  color: azure;
  margin-top: 1rem;
  height: 5vh;
  overflow: hidden;
}

.slide__text {
  font: 2.2vh Arial, sans-serif;
  opacity: 0;
  transform: scale(0%);
  width: 0;
  transition: all .3s;
}

.slider__nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
}

.slider__nav label {
  position: relative;
  pointer-events: visible;
  cursor: pointer;
  padding: .6rem;
}

.slider__nav label span {
  display: block;
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background-color: #e8c468;
  border: .2rem solid #e8c468;
  transition: all 0.3s;
}

.slider__nav label:hover span {
  border-color: #e6bc16;
  background-color: #e6bc16;
}

.slider__nav label:active span {
  background-color: white;
  border-color: white;
}

/* label styling */
#nav1:checked~* .slider__nav label:nth-child(1) span {
  background-color: transparent;
  border-color: #e8c468;
}

#nav2:checked~* .slider__nav label:nth-child(2) span {
  background-color: transparent;
  border-color: #e8c468;
}

#nav3:checked~* .slider__nav label:nth-child(3) span {
  background-color: transparent;
  border-color: #e8c468;
}

#nav4:checked~* .slider__nav label:nth-child(4) span {
  background-color: transparent;
  border-color: #e8c468;
}

/* slides switching */
#nav1:checked~* .slider__slides {
  transform: translateX(0%);
}

#nav2:checked~* .slider__slides {
  transform: translateX(-70vw);
}

#nav3:checked~* .slider__slides {
  transform: translateX(-140vw);
}

#nav4:checked~* .slider__slides {
  transform: translateX(-210vw);
}

/* texts switching */
#nav1:checked~* .slider__texts .slide__text:nth-child(1) {
  opacity: 1;
  transform: scale(100%);
  width: auto;
  height: auto;
}

#nav2:checked~* .slider__texts .slide__text:nth-child(2) {
  opacity: 1;
  transform: scale(100%);
  width: auto;
  height: auto;
}

#nav3:checked~* .slider__texts .slide__text:nth-child(3) {
  opacity: 1;
  transform: scale(100%);
  width: auto;
  height: auto;
}

#nav4:checked~* .slider__texts .slide__text:nth-child(4) {
  opacity: 1;
  transform: scale(100%);
  width: auto;
  height: auto;
}

/* adaptive */
@media screen and (max-width: 767px) {
  .slider {
    grid-template-areas: "slider""nav""text";
  }

  .slider__nav {
    justify-content: center;
  }

  .slider__texts {
    justify-content: center;
  }
}